# Salin file ini menjadi .env dan isi sesuai kebutuhan

# Base URL API backend (untuk nanti)
VITE_API_BASE_URL=http://localhost:3000/api

# Mode OCR: "mock" untuk prototype, "tesseract" atau "google" untuk produksi
VITE_OCR_MODE=mock

# Nama aplikasi (tampil di browser tab & sidebar)
VITE_APP_NAME=MetaLexicon
VITE_APP_VERSION=0.1.0
